<header class="site-header">
    <div class="container">
        <a id="site-header-brand" href="/" title="{{ site.name }}">
            <span class="octicon octicon-beaker hvr-buzz"></span> {{ site.title }} <span class="octicon octicon-beaker hvr-buzz"></span>
        </a>
        <nav class="site-header-nav" role="navigation">
            {% for nav in site.navs %}
            <a href="{{ nav.href }}"
               class="{% if page.menu == nav.label %} selected {% endif %} site-header-nav-item hvr-bob"
               target="{{ nav.target | default: _self }}"
               title="{{ nav.label }}">
               
                    {{% if nav.fa_icon %}}<br /><span class="fa {{ nav.fa_icon }} fa-fw center-block" aria-hidden="true" title="{{ nav.label }}"></span>{{% endif %}}

            </a>
            {% endfor %}
        </nav>
    </div>
</header>
