/** Only for index.html **/

.site-header{
    color: #fff;
    background: #222C31;
}

.site-header #site-header-brand {
    color: #fff;
}

.site-header .site-header-nav-item {
    color: #fff;
}

.site-header a:hover {
    color: #607d8b;
}

.jumbotron {
    background: #607d8b;
}

.site-header.site-header-nav-scrolled a {
    color: #222C31;
}

.site-header.site-header-nav-scrolled #site-header-brand {
    color: #222C31 !important;
}

.site-header.site-header-nav-scrolled a:hover {
    color: #607d8b;
}

.hvr-underline-from-center {
	color: #222c31;
}